.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-content: space-around;

  margin-top: 10%;
}

.card {
  margin-top: 100px;
  padding: 10px;
  width: 70%;

  &:hover {
    background-color: rgb(143, 193, 240);
    border-radius: 15px;
  }

  
}
